apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: default
type: Opaque
stringData:
  superUserPassword: [your password]
  replicationUserPassword: [your password]
  DATABASE_URL: postgres://[your username]:[your password]@postgres.default.svc.cluster.local/test_drone_production
